body{
    background-image: url(./img/505.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

div{
    color: white;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
}

#button1{
    margin-top: 2%;
    padding-left: 100px;
    padding-right: 100px;
    border: 2px solid black;
    font-weight: bold;
    margin-left: 43%;
}