<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="./500.css">
    <title>500 Error</title>
</head>
<body>
    <div class="text-center border border-5">
        <h1>ERROR 500!!!</h1>
        <p><%= error %></p> 
    </div>
    <button id="button1" onclick="window.location.href='/'" type="button" class="btn btn-warning">Home</button>
</body>
</html>